/* --- container and display --- */

.ss-container {
	margin-top: 1em;
}
.ss-maximised {
	background-color:#333333;
	z-index:100;
}
.ss-container img {
	margin:0;
}
.ss-container div.ss-wrapper {
	background-color:#73A0C5;
	margin:0 auto;
	padding-bottom:2px;
	position:relative;
	width: 385px;
}
/* This is the tan hack. Only IE can see it. */
* html div.ss-wrapper {
	/* See http://www.quirksmode.org/css/tests/ie5win_relative.html
	 * Specify a height to get absolute positioning within this *
	 * relative div working properly.                           */
	height: 100%; /* IE5/Win */
	h\eight: auto; /* IE6 IE5/Mac */
}
.ss-container div.ss-display {
	margin:0 2px 77px;
	background: #e5e6e7 url("img/loading.png") no-repeat center;
	height:250px;
	padding: 4px;
}
.ss-container div.ss-display div {
	position: relative;
	margin: 0 auto;
}
.ss-container div.ss-display .loading {
	display:none;
}

/* --- menu --- */

.ss-menu {
	width:108px;
	margin:0 auto;
	padding:2px;
}
.ss-menu ul {
	height:16px;
	margin: 0;
	padding: 0;
}
.ss-menu li {
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding: 0;
	display:inline;
	cursor:pointer;
}
.ss-menu li div {
	padding:0 0 0 16px;
	width:0;
	height:16px;
	overflow:hidden;
	float:left;
	background: url("img/buttons.gif") top left repeat;
}

/* --- menu buttons --- */

.ss-playing .ss-play,
.ss-paused .ss-pause,
.ss-maximised .ss-maximise,
.ss-minimised .ss-minimise {
	display:none;
}
li.ss-play div, li.ss-pause div { margin: 0 4px; }
li.ss-maximise div, li.ss-maximise div { margin: 0 0 0 4px; }

li.ss-first div { background-position: 0px 0px; }
li.ss-prev div  { background-position: -16px 0px; }
li.ss-play div  { background-position: -32px 0px; }
li.ss-pause div { background-position: -48px 0px; }
li.ss-next div  { background-position: -64px 0px; }
li.ss-last div  { background-position: -80px 0px; }
li.ss-maximise div { background-position: -96px 0px; }
li.ss-minimise div { background-position: -112px 0px; }
li.ss-first:hover div { background-position: 0px 16px; }
li.ss-prev:hover div  { background-position: -16px 16px; }
li.ss-play:hover div  { background-position: -32px 16px; }
li.ss-pause:hover div { background-position: -48px 16px; }
li.ss-next:hover div  { background-position: -64px 16px; }
li.ss-last:hover div  { background-position: -80px 16px; }
li.ss-maximise:hover div { background-position: -96px 16px; }
li.ss-minimise:hover div { background-position: -112px 16px; }

/* --- thumbnails --- */

.ss-thumbs {
	margin:0 -191px;
	width:381px;
	background-color:white;
	position:absolute;
	bottom:1px;
	left:50%;
}
* html .ss-thumbs {
	margin:0 -190px;
	bottom:0;
}
.ss-thumbs ul {
	height: 77px;
	margin: 0;
	padding: 0;
}
.ss-thumbs li {
	list-style-type: none;
	float: left;
}
.ss-thumbs li.hide {
	display:none;
}
.ss-thumbs li.loading img {
	opacity:0.5; /* Mozilla and Safari */
	filter: alpha(opacity=50); /* I.E. */
}
.ss-thumbs li div.ss-preview {
	width:75px;
	height:75px;
	cursor:pointer;
	border:1px solid #73a0c5;
}
.ss-thumbs li div.ss-slide {
	display:none;
}
.ss-thumbs li.selected div {
	border: 1px solid white;
}
.ss-thumbs li.before-selected div {
	border-right:0 none;
}
.ss-thumbs li.after-selected div {
	border-left:0 none;
}
